<header>
  <a class="logo" href="#home">JMS</a>
  <nav>
    <ul>
      <li *ngFor="let item of menuItems">
        <a
          [attr.id]="item.id"
          [class]="item.class"
          [routerLink]="item.routerLink"
          [fragment]="item.fragment"
          (click)="handleNavigation(item, $event)"
        >
          {{ item.label }}
        </a>
      </li>
    </ul>
  </nav>
  <div class="hamburger" (click)="toggleMobileMenu()">
    <i class="fas fa-bars"></i>
  </div>
  <div class="iconos">
    <!-- Your icons/links here -->
  </div>
</header>

<div class="mobile-menu" [class.active]="isMobileMenuActive">
  <div class="close-button" (click)="toggleMobileMenu()">×</div>
  <ul>
    <li *ngFor="let item of menuItems">
      <a
        [attr.id]="item.id"
        [class]="item.class"
        [routerLink]="item.routerLink"
        [fragment]="item.fragment"
        (click)="handleNavigation(item, $event)"
      >
        {{ item.label }}
      </a>
    </li>
  </ul>
</div>
