<header>
  <div class="logo">JMS</div>
  <nav>
    <ul>
      <li *ngFor="let item of menuItems">
        <a
          *ngIf="item.label !== 'Projects' && item.fragment"
          (click)="scrollTo(item.fragment!, $event)"
          [class]="item.class"
          [id]="item.id"
        >
          {{ item.label }}
        </a>
        <a
          *ngIf="item.label === 'Projects'"
          [href]="item.routerLink"
          target="_blank"
          rel="noopener noreferrer"
          [class]="item.class"
          [id]="item.id"
        >
          {{ item.label }}
        </a>
      </li>
    </ul>
  </nav>
  <i class="fa-solid fa-bars hamburger" (click)="toggleMobileMenu()"></i>
  <div class="mobile-menu" [class.active]="isMobileMenuActive">
    <ul>
      <li *ngFor="let item of menuItems">
        <a
          *ngIf="item.label !== 'Projects' && item.fragment"
          (click)="scrollTo(item.fragment!, $event)"
          [class]="item.class"
          [id]="item.id"
        >
          {{ item.label }}
        </a>
        <a
          *ngIf="item.label === 'Projects'"
          [href]="item.routerLink"
          target="_blank"
          rel="noopener noreferrer"
          [class]="item.class"
          [id]="item.id"
        >
          {{ item.label }}
        </a>
      </li>
    </ul>
  </div>
</header>
