<div class="container">
  <div class="card">
    <div class="box">
      <div class="content">
        <h2>01</h2>
        <h3>Proyecto 1</h3>
        <p>Este es el primer proyecto</p>
        <a href="#">Ver más</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="content">
        <h2>02</h2>
        <h3>Proyecto 2</h3>
        <p>Aparentemente, este es el segundo proyecto</p>
        <a href="#">Ver más</a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="box">
      <div class="content">
        <h2>03</h2>
        <h3>Proyecto 3</h3>
        <p>Adivinas cuál es este?</p>
        <a href="#">Ver más</a>
      </div>
    </div>
  </div>
</div>
