<div class="skills-container">
  <div class="title-image">
    <img src="assets/images/skills.png" alt="Skills Title" />
  </div>

  <div class="skills-profile-container">
    <div>
      <div class="icon-container">
        <img src="assets/images/iconCSS.png" alt="CSS" />
      </div>
      <div class="content">
        <h2>CSS</h2>
      </div>
    </div>

    <div>
      <div class="icon-container">
        <img src="assets/images/iconHTML.png" alt="HTML" />
      </div>
      <div class="content">
        <h2>HTML</h2>
      </div>
    </div>

    <div>
      <div class="icon-container">
        <img src="assets/images/iconTS.png" alt="TypeScript" />
      </div>
      <div class="content">
        <h2>TypeScript</h2>
      </div>
    </div>

    <div>
      <div class="icon-container">
        <img src="assets/images/iconJS.png" alt="JavaScript" />
      </div>
      <div class="content">
        <h2>JavaScript</h2>
      </div>
    </div>

    <div>
      <div class="icon-container">
        <img src="assets/images/iconAngular.png" alt="Angular" />
      </div>
      <div class="content">
        <h2>Angular</h2>
      </div>
    </div>

    <div>
      <div class="icon-container">
        <img src="assets/images/iconGit.png" alt="Git" />
      </div>
      <div class="content">
        <h2>Git</h2>
      </div>
    </div>

    <div>
      <div class="icon-container">
        <img src="assets/images/iconFigma.png" alt="Figma" />
      </div>
      <div class="content">
        <h2>Figma</h2>
      </div>
    </div>
  </div>

  <div id="divA" class="divisorA">
    <img src="assets/images/divB.png" alt="Decorative divider" />
  </div>
</div>
