<div class="title">
  <div class="text-container">
    <h1><span class="typing-effect">Hello, world!</span></h1>
    <h1>I'm <strong>Judith</strong>,</h1>
    <h1>frontend developer <br /></h1>
    <div class="socialmedia">
      <a href="https://github.com/tu-usuario" target="_blank" id="github">
        <img src="\assets\images\github.png" alt="GitHub" />
      </a>
      <a href="https://linkedin.com/tu-usuario" target="_blank" id="linkedin">
        <img src="\assets\images\linked.png" alt="GitHub" />
      </a>
    </div>
  </div>

  <div class="image-container">
    <img src="\assets\images\fotoHome.png" />
  </div>
</div>

<!-- esto es la espiral divisora itpo A -->
<div id="divA" class="divisorA">
  <img src="\assets\images\diva.png" />
</div>
